.land {
  fill: #5a5255;
  stroke-opacity: 1;
  stroke: #8d8d8d;
}

.noclicks {
  pointer-events:none;
}
/*location point*/
.point {
  opacity:.6;
  stroke: red;
}

/*arcs*/
.flyin {
  stroke-width:1;
  opacity: .8;
  stroke: purple;
}

.flyout {
  stroke-width:0.5;
  opacity: .8;
  stroke: gold;
}

.arc {
  stroke: black;
  stroke-width: 0.25;
  opacity: 0.25;
  fill: none;
}

/*connect arc to shadow*/
.arc, .flyin, .flyout {
  stroke-linejoin: round;
  fill:none;
}

body {
  background-image: url("./images/stars.jpg");
  background-color: #000;
}

h2 {
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  font-size:44px;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:20px;
  font-weight: bold;
}

h5 {
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:20px;
  margin: 0;
  margin-left: 5px;
  display: inline-block;
}

.head {
  position: fixed;
}

i {
  color: #fff;
  cursor: pointer;
}

.bars {
  width: calc(100% - 1000px);
  height: 860px;
  position: fixed;
  top:0;
  right:0;
  margin: 2vh 0;
}
.bars div {
  clear: both;
  height: 15.5vh;
  float: right;
  margin: 2vh 0;
  background-color: lightblue;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.bars div h2 {
  float: right;
  padding: 4vh 10px;
  width: max-content;
}

.earth {
  width: 880px;
  float: left;
}

.moreinfo {
  position: fixed;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
  width: 400px;
  height: max-content;
  background-color: #8d8d8d;
  opacity: .8;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 10px;
  text-align: center;
}

.infoexit {
  position: absolute;
  color: red;
  top: 0;
  right: 0;
  margin: 30px;
  cursor: pointer;
  border-bottom: 2px solid red;
  padding: 0 5px;
}


.infoexit:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.zoom {
  margin: 20px;
}

.scrollbar {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 100px;
  z-index: 100;
  text-align: center;
}

.scroll {
  z-index: 100;
}

.timeplay {
  display: inline-block;
}

.timeplay i, .timeplay h2 {
  display: inline-block;
  float: left;
}

.timeplay i {
  margin: 15px;
}


@media only screen and (max-width: 1200px) {
  .bars {
    position: absolute;
    width: 100%;
    margin-top: 900px;
  }
  svg {
    float: left;
  }
}

@media only screen and (max-width: 500px) {
  .moreinfo {
    width: 80%;
  }
}
