.adminContainer {
  width: 100%;
  min-height: 100vh;
  background-image: url("./../images/wood_1.png");
  color: white; }
  .adminContainer .adminStyle {
    width: 50%;
    margin: auto;
    padding: 5%; }
    .adminContainer .adminStyle hr {
      display: block;
      margin: 1em auto;
      border-style: inset;
      border-width: 2px; }
    .adminContainer .adminStyle .studentDiv {
      padding: 5px;
      margin-top: 10px;
      border: 1px dashed #25AAE1; }
    .adminContainer .adminStyle .typeInput {
      margin: auto;
      width: 100%;
      margin-bottom: 10px;
      height: 5%;
      font-size: 1.1em;
      outline-color: rgba(51, 35, 85, 0.83);
      border: 1px solid gray;
      outline: none; }
    .adminContainer .adminStyle .selectStudents {
      width: 50%;
      margin: 0;
      outline: none;
      font-size: 1.3em; }
    .adminContainer .adminStyle .studentNumLabel {
      margin: 0;
      font-size: 1.3em; }
    .adminContainer .adminStyle .selectJob {
      margin: 10px; }
    .adminContainer .adminStyle .adminButton {
      font-size: 1em;
      font-family: sans-serif;
      color: #090311;
      text-shadow: 1px 1px #f9f9f9;
      text-decoration: none;
      display: inline-block;
      padding: 0.5em;
      border-radius: 0.25em;
      background: #f8f8f8;
      border: 1px solid #ccc;
      position: relative;
      margin: 10px;
      outline: 0; }
    .adminContainer .adminStyle .adminBtns {
      width: 100%;
      text-align: center;
      margin: 1em; }
    .adminContainer .adminStyle .adminButton:hover {
      background: rgba(51, 35, 85, 0.31); }

.finance {
  background-image: url("./../images/wood_1.png"); }
  .finance h1 {
    margin: 0;
    padding: 20px 20px 30px;
    text-align: center;
    font-family: "Josefin Slab";
    color: #C1CED4;
    font-size: 3em; }
  .finance h2 {
    margin: 0;
    padding: 15px 15px 30px;
    text-align: center;
    font-family: "Josefin Slab";
    color: #25AAE1;
    font-size: 2.2em; }

#donut {
  width: 29rem;
  height: 29rem;
  margin: 0 auto;
  display: inline-block;
  padding: 10px;
  margin-left: 100px;
  padding-left: 50px; }
  #donut text {
    font-family: "Josefin Slab";
    font-size: 7rem;
    font-weight: 400;
    line-height: 16rem;
    fill: #25AAE1; }
  #donut h2 {
    color: #25AAE1;
    font-size: 2em;
    font-family: "Josefin Slab";
    margin-bottom: 25px;
    margin-right: 50px;
    padding-right: 110px; }

#donut2 {
  width: 20rem;
  height: 29rem;
  margin: 0 auto;
  display: inline-block;
  margin-left: 50px;
  padding: 10px; }
  #donut2 text {
    font-family: "Josefin Slab";
    font-size: 7rem;
    font-weight: 400;
    line-height: 16rem;
    fill: #25AAE1; }
  #donut2 h2 {
    color: #25AAE1;
    font-size: 2em;
    font-family: "Josefin Slab";
    margin-bottom: 15px;
    margin-right: 40px;
    padding-left: 10px; }

path.color0 {
  fill: #25AAE1; }

path.color1 {
  fill: #C1CED4; }


h2 {
  color: #25AAE1;
  text-align: center;
  font-family: "Josefin Slab"; }

.graph {
  background-image: url("./../images/wood_1.png"); }
  .graph #chart {
    display: block;
    margin: auto;
    text-align: center; }
    .graph #chart .axis path,
    .graph #chart .axis line {
      fill: none;
      stroke: #777; }
    .graph #chart .axis text {
      font-family: "Josefin Slab";
      font-size: 13px;
      fill: #C1CED4; }
    .graph #chart .tick {
      stroke-dasharray: 1, 2; }
    .graph #chart .graph {
      margin: auto;
      text-align: center; }
    .graph #chart .legend {
      font-size: 12px; }
    .graph #chart rect {
      stroke-width: 2; }

@charset "UTF-8";
.loginStyle {
  width: 50%;
  margin: auto;
  padding: 5%;
  color: #25AAE1; }
  .loginStyle input {
    width: 100%;
    margin-bottom: 10px;
    height: 5%;
    padding: 10px;
    font-size: 1.1em;
    outline-color: rgba(51, 35, 85, 0.83); }
  .loginStyle button {
    font-size: 1.2em;
    font-family: sans-serif;
    color: #090311;
    text-shadow: 1px 1px #f9f9f9;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    border-radius: 0.25em;
    background: #f8f8f8;
    border: 1px solid #ccc;
    position: relative;
    margin: 0 0 1px;
    outline: 0; }
  .loginStyle ​ button:hover {
    background: rgba(51, 35, 85, 0.31); }

body {
  background-image: url("./images/stars.jpg");
  font-size: 1em;
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding: 0; }
  body #main {
    position: relative;
    z-index: 1; }

.mapCont {
  background-image: url("./images/stars.jpg");
  width: 100%;
  height: 100%; }
  .mapCont .head {
    position: fixed;
    top: 4.5em;
    padding-left: 1em;
    width: 45vw; }
    .mapCont .head h2 {
      color: #fff;
      font-family: 'Open Sans Condensed', sans-serif;
      margin: 0;
      font-size: 44px; }
    .mapCont .head .moreinfo {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 400px;
      height: max-content;
      background-color: #8d8d8d;
      opacity: .8;
      border-radius: 5px;
      border: 1px solid #fff;
      padding: 10px;
      text-align: center; }
    .mapCont .head h2 {
      color: #fff;
      font-family: 'Open Sans Condensed', sans-serif;
      margin: 0;
      font-size: 44px; }
    .mapCont .head p {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 20px;
      font-weight: bold; }
    .mapCont .head .infoexit {
      position: absolute;
      color: red;
      top: 0;
      right: 0;
      margin: 30px;
      cursor: pointer;
      border-bottom: 2px solid red;
      padding: 0 5px; }
    .mapCont .head .infoexit:hover {
      color: #fff;
      border-bottom: 2px solid #fff; }
  .mapCont .zoom {
    position: fixed;
    margin: 20px;
    width: 3em;
    top: 20em; }

.scrollbar {
  height: 2em;
  text-align: center; }
  .scrollbar .timeplay i {
    display: inline-block;
    float: left;
    margin-top: 0.7em;
    margin-left: 30px; }
  .scrollbar .timeplay h2 {
    display: inline-block;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.7em;
    margin: 0; }

i {
  color: #fff;
  cursor: pointer; }

h5 {
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
  margin: 0;
  margin-left: 5px;
  display: inline-block; }

.earth {
  width: 880px;
  float: left;
  /*location point*/
  /*arcs*/
  /*connect arc to shadow*/ }
  .earth .land {
    fill: #5a5255;
    stroke-opacity: 1;
    stroke: #8d8d8d; }
  .earth .noclicks {
    pointer-events: none; }
  .earth .point {
    opacity: .6;
    stroke: red; }
  .earth .flyin {
    stroke-width: 1;
    opacity: .8;
    stroke: purple; }
  .earth .flyout {
    stroke-width: 0.5;
    opacity: .8;
    stroke: gold; }
  .earth .arc {
    stroke: black;
    stroke-width: 0.25;
    opacity: 0.25;
    fill: none; }
  .earth .arc, .earth .flyin, .earth .flyout {
    stroke-linejoin: round;
    fill: none; }

.bars {
  width: 33%;
  height: 100vh;
  position: fixed;
  top: 6em;
  right: 0; }
  .bars h2 {
    color: #1E1D1D;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    word-wrap: break-word;
    background-color: rgba(193, 206, 212, 0.67);
    min-width: 4em;
    text-align: center; }
  .bars .barTitle {
    font-size: 0.8em; }
  .bars div {
    clear: both;
    float: right;
    margin: 0.7em 0;
    padding: 0.8em;
    background-color: #C1CED4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; }
  .bars div h2 {
    float: right;
    width: max-content; }

.main-nav {
  text-align: center;
  position: fixed;
  z-index: 150;
  top: 0;
  width: 100%;
  height: 2em;
  padding: 1em 1em;
  transition: all .5s;
  text-align: center;
  background-color: #1E1D1D;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4); }
  .main-nav .navBtns {
    margin: auto;
    width: 70%; }
  .main-nav a {
    font-size: .9em;
    font-weight: bold;
    display: inline-block;
    margin: 0 12px;
    padding: 1em;
    transition: all .5s;
    text-decoration: none;
    text-transform: uppercase;
    color: #C1CED4;
    border: none; }
  .main-nav a:hover {
    display: inline-block;
    padding: 4px;
    transition: all 1s;
    border: none;
    background-color: #25AAE1;
    color: #1E1D1D; }

.main-nav-scrolled {
  color: #1f1e1d;
  height: 50px;
  padding: 10px;
  transition: all .5s;
  opacity: .98;
  background: rgba(75, 75, 75, 0.97); }
  .main-nav-scrolled a {
    color: #25AAE1;
    font-size: .8em;
    width: 95px;
    padding: 1em;
    transition: all .5s;
    border-top: 2px solid #C1CED4;
    border-right: 0;
    border-bottom: 0;
    border-left: 0; }

.finance h2 {
  color: #C1CED4;
  text-align: center;
  font-family: "Josefin Slab"; }

.pigContainer {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center; }
  .pigContainer .pig1 {
    float: left; }
    .pigContainer .pig1 h2 {
      color: #25AAE1;
      text-align: center;
      font-family: "Josefin Slab"; }
    .pigContainer .pig1 #bank1 {
      background-image: url("./../images/pig.png");
      background-repeat: no-repeat; }
  .pigContainer .pig2 {
    float: right; }
    .pigContainer .pig2 h2 {
      color: #25AAE1;
      text-align: center;
      font-family: "Josefin Slab"; }
    .pigContainer .pig2 #bank2 {
      background-image: url("./../images/pig.png");
      background-repeat: no-repeat; }

h2 {
  color: #C1CED4;
  text-align: center;
  font-family: "Josefin Slab"; }

.graph2 {
  background-image: url("./../images/wood_1.png"); }
  .graph2 #chart2 {
    display: block;
    margin: auto;
    text-align: center; }
    .graph2 #chart2 .axis path,
    .graph2 #chart2 .axis line {
      fill: none;
      stroke: #777; }
    .graph2 #chart2 .axis text {
      font-family: "Josefin Slab";
      font-size: 13px;
      fill: #C1CED4; }
    .graph2 #chart2 .tick {
      stroke-dasharray: 1, 2; }
    .graph2 #chart2 .graph2 {
      margin: auto;
      text-align: center; }
    .graph2 #chart2 .legend {
      font-size: 12px; }
    .graph2 #chart2 rect {
      stroke-width: 2; }
