.adminContainer {
  width: 100%;
  min-height: 100vh;
  background-image: url("./../images/wood_1.png");
  color: white; }
  .adminContainer .adminStyle {
    width: 50%;
    margin: auto;
    padding: 5%; }
    .adminContainer .adminStyle hr {
      display: block;
      margin: 1em auto;
      border-style: inset;
      border-width: 2px; }
    .adminContainer .adminStyle .studentDiv {
      padding: 5px;
      margin-top: 10px;
      border: 1px dashed #25AAE1; }
    .adminContainer .adminStyle .typeInput {
      margin: auto;
      width: 100%;
      margin-bottom: 10px;
      height: 5%;
      font-size: 1.1em;
      outline-color: rgba(51, 35, 85, 0.83);
      border: 1px solid gray;
      outline: none; }
    .adminContainer .adminStyle [data-tip] {
      position: relative; }
    .adminContainer .adminStyle [data-tip]:before {
      content: '';
      /* hides the tooltip when not hovered */
      display: none;
      content: '';
      display: none;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #1a1a1a;
      position: absolute;
      z-index: 8;
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: 30px;
      left: 35px;
      z-index: 8;
      font-size: 0;
      line-height: 0;
      width: 0;
      height: 0; }
    .adminContainer .adminStyle [data-tip]:after {
      display: none;
      content: attr(data-tip);
      position: absolute;
      top: 35px;
      left: 0;
      padding: 5px 8px;
      background: #1a1a1a;
      color: #fff;
      z-index: 9;
      font-size: 0.75em;
      height: 18px;
      line-height: 18px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      white-space: nowrap;
      word-wrap: normal; }
    .adminContainer .adminStyle [data-tip]:hover:before,
    .adminContainer .adminStyle [data-tip]:hover:after {
      display: block; }
    .adminContainer .adminStyle .selectStudents {
      width: 50%;
      margin: 0;
      outline: none;
      font-size: 1.3em; }
    .adminContainer .adminStyle .studentNumLabel {
      margin: 0;
      font-size: 1.3em; }
    .adminContainer .adminStyle .selectJob {
      margin: 10px; }
    .adminContainer .adminStyle .adminButton {
      font-size: 1em;
      font-family: sans-serif;
      color: #090311;
      text-shadow: 1px 1px #f9f9f9;
      text-decoration: none;
      display: inline-block;
      padding: 0.5em;
      border-radius: 0.25em;
      background: #f8f8f8;
      border: 1px solid #ccc;
      position: relative;
      margin: 10px;
      outline: 0; }
    .adminContainer .adminStyle .adminButton:hover {
      background: rgba(51, 35, 85, 0.31); }

.finance {
  background-image: url("./../images/wood_1.png"); }
  .finance h1 {
    margin: 0;
    padding: 20px 20px 30px;
    text-align: center;
    font-family: "Josefin Slab";
    color: #C1CED4;
    font-size: 3em; }
  .finance h2 {
    margin: 0;
    padding: 15px 15px 30px;
    text-align: center;
    font-family: "Josefin Slab";
    color: #25AAE1;
    font-size: 2.2em; }

#donut {
  width: 29rem;
  height: 29rem;
  margin: 0 auto;
  display: inline-block;
  padding: 10px;
  margin-left: 100px;
  padding-left: 50px; }
  #donut text {
    font-family: "Josefin Slab";
    font-size: 7rem;
    font-weight: 400;
    line-height: 16rem;
    fill: #25AAE1; }
  #donut h2 {
    color: #25AAE1;
    font-size: 2em;
    font-family: "Josefin Slab";
    margin-bottom: 25px;
    margin-right: 50px;
    padding-right: 110px; }

#donut2 {
  width: 20rem;
  height: 29rem;
  margin: 0 auto;
  display: inline-block;
  margin-left: 50px;
  padding: 10px; }
  #donut2 text {
    font-family: "Josefin Slab";
    font-size: 7rem;
    font-weight: 400;
    line-height: 16rem;
    fill: #25AAE1; }
  #donut2 h2 {
    color: #25AAE1;
    font-size: 2em;
    font-family: "Josefin Slab";
    margin-bottom: 15px;
    margin-right: 40px;
    padding-left: 10px; }

path.color0 {
  fill: #25AAE1; }

path.color1 {
  fill: #C1CED4; }

.graph {
  background-image: url("./../images/wood_1.png"); }
  .graph .graph {
    margin: auto;
    margin: 5%;
    text-align: center; }
    .graph .graph .axis path,
    .graph .graph .axis line {
      fill: none;
      stroke: #777; }
    .graph .graph .axis text {
      font-family: "Josefin Slab";
      font-size: 13px;
      fill: #25AAE1; }
    .graph .graph .tick {
      stroke-dasharray: 1, 2; }
    .graph .graph .graph {
      margin: auto;
      text-align: center; }
    .graph .graph .legend {
      font-size: 12px; }
    .graph .graph rect {
      stroke-width: 2; }

@charset "UTF-8";
.loginStyle {
  width: 50%;
  margin: auto;
  padding: 5%; }
  .loginStyle input {
    width: 100%;
    margin-bottom: 10px;
    height: 5%;
    padding: 10px;
    font-size: 1.1em;
    outline-color: rgba(51, 35, 85, 0.83); }
  .loginStyle button {
    font-size: 1.2em;
    font-family: sans-serif;
    color: #090311;
    text-shadow: 1px 1px #f9f9f9;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    border-radius: 0.25em;
    background: #f8f8f8;
    border: 1px solid #ccc;
    position: relative;
    margin: 0 0 1px;
    outline: 0; }
  .loginStyle ​ button:hover {
    background: rgba(51, 35, 85, 0.31); }

body {
  box-sizing: border-box;
  font-size: 1em;
  margin: 0 auto;
  padding: 0; }
  body .container {
    margin: 0; }

body {
  background-image: url("./images/stars.jpg"); }
  body .head {
    position: fixed; }
    body .head h2 {
      color: #fff;
      font-family: 'Open Sans Condensed', sans-serif;
      margin: 0;
      font-size: 44px; }
    body .head .moreinfo {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 400px;
      height: max-content;
      background-color: #8d8d8d;
      opacity: .8;
      border-radius: 5px;
      border: 1px solid #fff;
      padding: 10px;
      text-align: center; }
    body .head h2 {
      color: #fff;
      font-family: 'Open Sans Condensed', sans-serif;
      margin: 0;
      font-size: 44px; }
    body .head p {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 20px;
      font-weight: bold; }
    body .head .infoexit {
      position: absolute;
      color: red;
      top: 0;
      right: 0;
      margin: 30px;
      cursor: pointer;
      border-bottom: 2px solid red;
      padding: 0 5px; }
    body .head .infoexit:hover {
      color: #fff;
      border-bottom: 2px solid #fff; }
  body .zoom {
    margin: 20px;
    width: 50px; }

.scrollbar {
  position: fixed;
  top: 5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 450px;
  height: 120px;
  z-index: 100;
  text-align: center; }
  .scrollbar .timeplay {
    display: inline-block;
    width: 100%;
    margin: auto; }
    .scrollbar .timeplay i {
      display: inline-block;
      margin: 15px;
      float: left;
      margin-left: 30px; }
    .scrollbar .timeplay h2 {
      display: inline-block;
      float: right;
      color: white;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 40px;
      margin: 0; }

i {
  color: #fff;
  cursor: pointer; }

h5 {
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  margin: 0;
  margin-left: 5px;
  display: inline-block; }

.earth {
  width: 880px;
  float: left;
  /*location point*/
  /*arcs*/
  /*connect arc to shadow*/ }
  .earth .land {
    fill: #5a5255;
    stroke-opacity: 1;
    stroke: #8d8d8d; }
  .earth .noclicks {
    pointer-events: none; }
  .earth .point {
    opacity: .6;
    stroke: red; }
  .earth .flyin {
    stroke-width: 1;
    opacity: .8;
    stroke: purple; }
  .earth .flyout {
    stroke-width: 0.5;
    opacity: .8;
    stroke: gold; }
  .earth .arc {
    stroke: black;
    stroke-width: 0.25;
    opacity: 0.25;
    fill: none; }
  .earth .arc, .earth .flyin, .earth .flyout {
    stroke-linejoin: round;
    fill: none; }

.bars {
  width: 33%;
  height: 860px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 2vh 0; }
  .bars h2 {
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    font-size: 44px; }
  .bars div {
    clear: both;
    height: 15.5vh;
    float: right;
    margin: 2vh 0;
    background-color: lightblue;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; }
  .bars div h2 {
    float: right;
    padding: 4vh 10px;
    width: max-content; }

.finance h1 {
  color: #C1CED4;
  text-align: center;
  font-family: "Josefin Slab"; }

.pigContainer {
  display: flex; }
  .pigContainer .pig1 {
    float: left; }
    .pigContainer .pig1 h2 {
      color: #25AAE1;
      text-align: center;
      font-family: "Josefin Slab"; }
    .pigContainer .pig1 #bank1 {
      background-image: url("./../images/pig.png");
      background-repeat: no-repeat; }
  .pigContainer .pig2 {
    float: right; }
    .pigContainer .pig2 h2 {
      color: #25AAE1;
      text-align: center;
      font-family: "Josefin Slab"; }
    .pigContainer .pig2 #bank2 {
      background-image: url("./../images/pig.png");
      background-repeat: no-repeat; }
