@import 'variables';

.graph {
  background-image: $backgroundImage;
  min-height: 100vh;
    margin: auto;
    text-align: center;
    .axis path, .axis line {
        fill: none;
        stroke: #777;
    }
    .axis text {
        font-family: $graphFont;
        font-size: 13px;
        fill: $graphPrimaryColor;
    }
    .tick {
        stroke-dasharray: 1, 2;
    }
    .graph {
        margin: auto;
        text-align: center;
    }
    .legend {
        font-size: 12px;
    }
    rect {
        stroke-width: 2;
    }
}
