@import "variables";

.info {
    color: $graphSecondaryColor;
    display: block;
    margin: auto;
    width: 80%;
    font-size: 1.2em;
    font-family: sans-serif;
    .infoAbout {
        text-align: center;
    }
}
.landingCont {
    padding-top: 10em;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    // font-family: sans-serif;
    @import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
    figure {
        cursor: pointer;
    }
    img {
        height: 100%;
        width: 100%;
        opacity: 1.8;
    }

    figure.snip0014 {
        color: #fff;
        position: relative;
        float: left;
        overflow: hidden;
        margin: 10px 1%;
        min-width: 220px;
        height: 220px;
        max-width: 310px;
        width: 100%;
        background: transparent;
        text-align: center;
    }
    figure.snip0014 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    figure.snip0014 img {
        max-width: 100%;
        opacity: 1;
        width: 100%;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
    }
    figure.snip0014 figcaption {
        font-size: 1.25em;
    }
    figure.snip0014 > div {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 3em 3em;
        width: 100%;
        height: 100%;
    }
    figure.snip0014 > div::before {
        position: absolute;
        top: 30px;
        right: 50%;
        bottom: 30px;
        left: 50%;
        border-left: 1px solid rgba(255, 255, 255, 0.8);
        border-right: 1px solid rgba(255, 255, 255, 0.8);
        content: '';
        opacity: 0;
        background-color: #ffffff;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        -webkit-transition-delay: 0.6s;
        transition-delay: 0.6s;
    }
    figure.snip0014 h2,
    figure.snip0014 p {
        margin: 0 0 5px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
    }
    figure.snip0014 h2 {
        word-spacing: -0.15em;
        font-weight: 300;
        text-transform: uppercase;
        -webkit-transform: translate3d(0%, 100%, 0);
        transform: translate3d(0%, 100%, 0);
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }
    figure.snip0014 h2 span {
        font-weight: 800;
    }
    figure.snip0014 p {
        font-weight: 200	;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
    figure.snip0014 a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        color: #ffffff;
    }
    figure.snip0014:hover img {
        opacity: 0.35;
    }
    figure.snip0014:hover > div h2 {
        opacity: 1;
        -webkit-transform: translate3d(0%, 0%, 0);
        transform: translate3d(0%, 0%, 0);
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }
    figure.snip0014:hover > div p {
        opacity: 0.8;
        -webkit-transition-delay: 0.6s;
        transition-delay: 0.6s;
    }
    figure.snip0014:hover > div::before {
        background: rgba(255, 255, 255, 0);
        left: 30px;
        right: 30px;
        opacity: 1;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }



}