body
{
  background-image: url("./images/stars.jpg");

    font-size: 1em;

    position: relative;
    width: 100vw;
    box-sizing: border-box;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;

    #main
    {
        position: relative;
        z-index: 1;
    }
}
