@import 'variables';



.mapCont {
    background-image: $galaxyBackground;
    width: 100%;
    height: 100%;
    .head {
        position: fixed;
        top: 100px;
        padding-left: 20px;
        width: 460px;
        i {
          margin-left: 5px;
          margin-bottom: 20px;
        }
        h2 {
            color: #fff;
            font-family: $graphFont;
            margin: 0;
            font-size:40px;
            padding-bottom: 10px;
        }
        .moreinfo {
            position: fixed;
            top: 0;
            left:0;
            right:0;
            bottom:0;
            margin: auto;
            width: 400px;
            height: max-content;
            background-color: #8d8d8d;
            opacity: .8;
            border-radius: 5px;
            border: 1px solid #fff;
            padding: 10px;
            text-align: center;
            }
            h2 {
                color: #fff;
                font-family: $graphFont;
                margin: 0;
                font-size:40px;
            }
            p {
                font-family: $graphFont;
                font-size:20px;
                font-weight: bold;
            }
            .infoexit {
                position: absolute;
                color: red;
                top: 0;
                right: 0;
                margin: 30px;
                cursor: pointer;
                border-bottom: 2px solid red;
                padding: 0 5px;
            }
            .infoexit:hover {
                color: #fff;
                border-bottom: 2px solid #fff;
            }
            .zoom {
                margin-left: 5px;
                i {
                  margin: 0;
                }
            }
        }


    .scrollbar {
        // position: fixed;
        // top: 20vh;
        // left: 0;
        // right: 0;
        // margin: auto;
        // width: 100%;
        height: 15px;
        // z-index: 100;
        text-align: center;
        .timeplay {
            // display: inline-block;
            // width: 100%;
            // margin: auto;
            i {
                display: inline-block;
                float: left;
                margin-top: 5px;
                margin-left: 20px;
            }
            h2 {
                display: inline-block;
                float: right;
                color: white;
                font-family: $graphFont;
                font-size:2.7em;
                margin: 0;
            }
        }
    }
    i {
        color: #fff;
        cursor: pointer;
    }
    h5 {
        color: #fff;
        font-family: $graphFont;
        font-size:1em;
        margin: 0;
        margin-left: 5px;
        display: inline-block;
    }
    .earth {
        width: 100%;
        // float: left;
        .land {
            fill: #5a5255;
            stroke-opacity: 1;
            stroke: #8d8d8d;
        }
        .noclicks {
            pointer-events:none;
        }
        /*location point*/
        .point {
            opacity:.6;
            stroke: red;
        }

        /*arcs*/
        .flyin {
            stroke-width:1;
            opacity: .8;
            stroke: purple;
        }

        .flyout {
            stroke-width:0.5;
            opacity: .8;
            stroke: gold;
        }

        .arc {
            stroke: black;
            stroke-width: 0.25;
            opacity: 0.25;
            fill: none;
        }

        /*connect arc to shadow*/
        .arc, .flyin, .flyout {
            stroke-linejoin: round;
            fill:none;
        }
    }
    .bars {
        width: 33%;
        height: 100vh;
        position: fixed;
        top:75px;
        right:0;
        h2 {
            color: #fff;
            font-family: $graphFont;
            margin: 0;
            word-wrap: break-word;
            min-width: 4em;
            text-align: center;
            font-size:6vh;
        }
        .barTitle {
          font-size: 0.8em;
        }
        .states {
            background-color: $graphSecondaryColor;
        }
        .retention {
            background-color: $graphSecondaryColor;
        }
        div {
            clear: both;
            float: right;
            margin: 2vh 0;
            padding: 2vh;
            background-color: $graphPrimaryColor;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
        div h2 {
            float: right;
            // padding-top: 0.6em;
            width: max-content;
        }
    }
}

@media (max-width: 1200px) {
  .mapCont {
    .earth {
      position: absolute;
      top: 0;
      left: -50vh;
      z-index: -100;
    }
  }
}

@media (max-width: 1000px) {
  .mapCont {
    .bars {
      margin-top: 200px;
      width: 75%;
    }

  }
}
