@import 'variables';

.main-nav
{
  text-align: center;
  position: fixed;
    z-index: 150;
    top: 0;

    width: 100%;
    height: 2em;
    padding-bottom: 2em;

    transition: all .5s;
    text-align: center;

    background-color: $navBgColor;
    box-shadow: 0 2px 3px rgba(0,0,0,.4);
    .loginNav {

    }
    .navBtns {
      margin: auto;
      width: 90%;
        font-family: $graphFont;
    }
    a
    {
        font-size: 1.4em;
        font-weight: bold;

        display: inline-block;

        // width: 100px;
        margin: 0 12px;
        padding: 1em;

        transition: all .5s;
        text-decoration: none;
        text-transform: uppercase;

        color: $graphSecondaryColor;
        border: none;
    }

    // a:first-child
    // {
    //     display: inline-block;
    //
    //     padding: 4px;
    //
    //     color: $graphPrimaryColor;
    //     border: none;
    //     border-right: 0;
    //     border-bottom: 0;
    //     border-left: 0;
    //     background-color: $graphSecondaryColor;
    // }

    a:hover
    {
        display: inline-block;

        padding: 4px;

        transition: all 1s;

        border: none;
        background-color: $graphPrimaryColor;
        color: $navBgColor;
    }
}

.main-nav-scrolled
{
    color: #1f1e1d;
    height: 50px;
    padding: 10px;

    transition: all .5s;

    opacity: .98;
    background: rgba(#4b4b4b, 0.97);

    a
    {
        color: $graphPrimaryColor;
        font-size: .8em;

        width: 95px;
        // margin: 0 12px;
        padding: 1em;

        transition: all .5s;

        border-top: 2px solid $graphSecondaryColor;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
    }
}
