@import 'variables';

h2 {
    color:$graphSecondaryColor;
    text-align: center;
    font-family: $graphFont;
}

.graph2 {
    background-image: $backgroundImage;
    #chart2 {
        display:block;
        margin: auto;
        text-align: center;
        .axis path,
        .axis line {
            fill: none;
            stroke: #777;
        }
        .axis text {
            font-family: $graphFont;
            font-size: 13px;
            fill: $graphSecondaryColor;
        }
        .tick {
            stroke-dasharray: 1, 2;
        }
        .graph2 {
            margin: auto;
            text-align: center;
        }
        .legend {
            font-size: 12px;
        }
        rect {
            stroke-width: 2;
        }
    }
}