<div class="adminContainer">


  <div class="adminStyle">

  <button ng-click="logout()">logout</button>

  <center>
    <h1>Add New Cohort Data</h1></center>



    <input class="typeInput" placeholder="DM#" ng-model="newCohort.title">
  <br/>
  <cohort-search cohort-data="newCohort.cohortData"></cohort-search>

  <br/>
  <input class="typeInput" type="date" placeholder="Start Date" ng-model="newCohort.startBootcamp">
  <br/>
  <input class="typeInput" type="date" placeholder="End Date" ng-model="newCohort.endBootcamp">
  <br/>

  <hr>

  <center>
    <h1>Student(s)</h1></center>
  <!-- ///dropdown box for cohort ref(newStudent.cohort)/// ??? -->
  <!-- <select class="typeInput" ng-options="cohort as cohort.display for cohort in cohorts track by cohort._id" ng-model="newCohort.cohort"></select>
  </select> -->

<center>
  <strong>Approx Number Of Students (40 max) </strong>
<br/>

  <!-- <input type="number" max="40" min="1" ng-model="show">
  <input type="submit"> -->

<select class="selectStudents" ng-model="show">
<option value="1" selected>Number of Students</option>
  <option value="10">10</option>
  <option value="15">15</option>
  <option value="20">20</option>
  <option value="25">25</option>
  <option value="30">30</option>
  <option value="35">35</option>
  <option value="40">40 (maximum)</option>
</select>
</center>

  <div class="studentDiv" ng-if="show > 0">
    <h3> #1 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[0].name">
  <br/>
  <home-search home-data="newCohort.students[0].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[0].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[0].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- ///end student div/// -->
</div>

  <!-- //////////////////////// -->



  <div class="studentDiv" ng-if="show > 1">
    <h3> #2 </h3>

    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[1].name">
  <br/>
  <home-search home-data="newCohort.students[1].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[1].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[1].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 2">
    <h3> #3 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[2].name">
  <br/>
  <home-search home-data="newCohort.students[2].homeData"></home-search>
    <br/>
  <after-search after-data="newCohort.students[2].afterData"></after-search>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[2].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 3">
    <h3> #4 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[3].name">
  <br/>
  <home-search home-data="newCohort.students[3].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[3].afterData"></after-search>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[3].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 4">
    <h3> #5 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[4].name">
  <br/>
  <home-search home-data="newCohort.students[4].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[4].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[4].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 5">
    <h3> #6 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[5].name">
  <br/>
  <home-search home-data="newCohort.students[5].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[5].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[5].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 6">
    <h3> #7 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[6].name">
  <br/>
  <home-search home-data="newCohort.students[6].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[6].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[6].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 7">
    <h3> #8 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[7].name">
  <br/>
  <home-search home-data="newCohort.students[7].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[7].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[7].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 8">
    <h3> #9 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[8].name">
  <br/>
  <home-search home-data="newCohort.students[8].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[8].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[8].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->


  <div class="studentDiv" ng-if="show > 9">
      <h3> #10 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[9].name">
  <br/>
  <home-search home-data="newCohort.students[9].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[9].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[9].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 10">
    <h3> #11 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[10].name">
  <br/>
  <home-search home-data="newCohort.students[10].homeData"></home-search>  <br/>
  <after-search after-data="newCohort.students[10].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[10].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 11">
    <h3> #12 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[11].name">
  <br/>
  <home-search home-data="newCohort.students[11].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[11].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[11].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 12">
    <h3> #13 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[12].name">
  <br/>
  <home-search home-data="newCohort.students[12].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[12].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[12].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 13">
    <h3> #14 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[13].name">
  <br/>
  <home-search home-data="newCohort.students[13].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[13].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[13].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 14">
    <h3> #15 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[14].name">
  <br/>
  <home-search home-data="newCohort.students[14].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[14].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[14].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 15">
    <h3> #16 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[15].name">
  <br/>
  <home-search home-data="newCohort.students[15].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[15].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[15].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 16">
    <h3> #17 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[16].name">
  <br/>
  <home-search home-data="newCohort.students[16].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[16].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[16].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 17">
    <h3> #18 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[17].name">
  <br/>
  <home-search home-data="newCohort.students[17].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[17].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[17].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 18">
    <h3> #19 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[18].name">
  <br/>
  <home-search home-data="newCohort.students[18].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[18].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[18].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 19">
    <h3> #20 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[19].name">
  <br/>
  <home-search home-data="newCohort.students[19].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[19].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[19].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 20">
    <h3> #21 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[20].name">
  <br/>
  <home-search home-data="newCohort.students[20].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[20].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[20].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 21">
    <h3> #22 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[21].name">
  <br/>
  <home-search home-data="newCohort.students[21].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[21].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[21].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 22">
    <h3> #23 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[22].name">
  <br/>
  <home-search home-data="newCohort.students[22].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[22].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[22].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 23">
    <h3> #24 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[23].name">
  <br/>
  <home-search home-data="newCohort.students[23].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[23].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[23].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 24">
    <h3> #25 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[24].name">
  <br/>
  <home-search home-data="newCohort.students[24].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[24].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[24].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 25">
    <h3> #26 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[25].name">
  <br/>
  <home-search home-data="newCohort.students[25].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[25].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[25].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 26">
    <h3> #27 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[26].name">
  <br/>
  <home-search home-data="newCohort.students[26].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[26].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[26].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->


  <div class="studentDiv" ng-if="show > 27">
    <h3> #28 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[27].name">
  <br/>
  <home-search home-data="newCohort.students[27].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[27].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[27].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 28">
    <h3> #29 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[28].name">
  <br/>
  <home-search home-data="newCohort.students[28].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[28].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[28].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 29">
    <h3> #30 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[29].name">
  <br/>
  <home-search home-data="newCohort.students[29].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[29].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[29].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 30">
    <h3> #31 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[30].name">
  <br/>
  <home-search home-data="newCohort.students[30].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[30].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[30].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 31">
    <h3> #32 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[31].name">
  <br/>
  <home-search home-data="newCohort.students[31].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[31].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[31].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 32">
    <h3> #33 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[32].name">
  <br/>
  <home-search home-data="newCohort.students[32].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[32].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[32].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 33">
    <h3> #34 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[33].name">
  <br/>
  <home-search home-data="newCohort.students[33].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[33].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[33].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 34">
    <h3> #35 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[34].name">
  <br/>
  <home-search home-data="newCohort.students[34].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[34].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[34].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 35">
    <h3> #36 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[35].name">
  <br/>
  <home-search home-data="newCohort.students[35].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[35].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[35].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 36">
    <h3> #37 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[36].name">
  <br/>
  <home-search home-data="newCohort.students[36].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[36].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[36].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 37">
    <h3> #38 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[37].name">
  <br/>
  <home-search home-data="newCohort.students[37].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[37].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[37].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 38">
    <h3> #39 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[38].name">
  <br/>
  <home-search home-data="newCohort.students[38].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[38].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[38].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <div class="studentDiv" ng-if="show > 39">
    <h3> #40 </h3>
    <input class="typeInput" placeholder="Student Name" ng-model="newCohort.students[39].name">
  <br/>
  <home-search home-data="newCohort.students[39].homeData"></home-search>
  <br/>
  <after-search after-data="newCohort.students[39].afterData"></after-search>
  <br/>
  <center>
    <strong>Is This Student Employed?</strong>
    <select class="selectJob" ng-model="newCohort.students[39].job">
      <option value="true">Yep</option>
      <option value="false">Nope</option>
    </select>
  </center>
<!-- //////end StudentDiv//// -->
</div>

  <!-- //////////////////// -->

  <center>
    <button class="adminButton" ng-click="submitNewCohort( newCohort )" type="submit">
      Submit New Cohort
    </button>
  </center>










  <!-- /////////admin style div ends///////////// -->
</div>
<!-- /////////admin container div ends///////////// -->
</div>
