<div class="employmentViewContainer">
  </br>
  </br>
  </br>
  </br>
  <h1>Employment</h1>
  <div class="counters">
    <span id="cohortsCounter"><label for="cohortsCounter">COHORTS</label>11</span>
    <span id="studentsCounter"><label for="studentsCounter">STUDENTS</label>255</span>
    <span id="statesCounter"><label for="statesCounter">STATES</label>43</span>
  </div>
  <employment-view-graph></employment-view-graph>
  <table id="logos">
    <tr>
      <td><img src="./../images/Logos/Jane.png"></td>
      <td><img src="./../images/Logos/Sprint.png"></td>
      <td><img src="./../images/Logos/Domo.png"></td>
    </tr>
    <tr>
      <td><img src="./../images/Logos/vivint.png"></td>
      <td><img src="./../images/Logos/bamboohr.png"></td>
      <td><img src="./../images/Logos/IAG.png"></td>
    </tr>
    <tr>
      <td><img src="./../images/Logos/varidesk.png"></td>
      <td><img src="./../images/Logos/HireVue.png"></td>
      <td><img src="./../images/Logos/overstock.png"></td>
    </tr>
    <tr>
      <td><img src="./../images/Logos/contacts.png"></td>
      <td><img src="./../images/Logos/ControlPad.png"></td>
      <td><img src="./../images/Logos/MX.png"></td>
    </tr>
  </table>
</div>
