<div class="employmentViewContainer">
  </br>
  </br>
  </br>
  </br>
  <h1>Employment</h1>
  <div class="counters">
    <div class="count">
      <span id="cohortsCounter">11</span></br><span class="label">COHORTS</span>
    </div>
    <div class="count">
      <span id="studentsCounter">255</span></br><span class="label">STUDENTS</span>
    </div>
    <div class="count">
      <span id="statesCounter">43</span></br><span class="label">STATES</span>
    </div>
  </div>
  <employment-view-graph></employment-view-graph>
  <div class="employers">
    <h1>Our Students Get Hired</h1>
    <h3>Here are a few companies where graduates have been placed.</h3>
    <table id="logos">
      <tr>
        <td><img src="./../images/Logos/Jane.png"></td>
        <td><img src="./../images/Logos/Sprint.png"></td>
        <td><img src="./../images/Logos/Domo.png"></td>
      </tr>
      <tr>
        <td><img src="./../images/Logos/vivint.png"></td>
        <td><img src="./../images/Logos/bamboohr.png"></td>
        <td><img src="./../images/Logos/IAG.png"></td>
      </tr>
      <tr>
        <td><img src="./../images/Logos/varidesk.png"></td>
        <td><img src="./../images/Logos/HireVue.png"></td>
        <td><img src="./../images/Logos/overstock.png"></td>
      </tr>
      <tr>
        <td><img src="./../images/Logos/contacts.png"></td>
        <td><img src="./../images/Logos/ControlPad.png"></td>
        <td><img src="./../images/Logos/MX.png"></td>
      </tr>
    </table>
  </div>
</div>
