<div class="wrapper">
<div class="landingCont">

  <figure ui-sref="finance" class="snip0014">
    <img src="./../images/graph2.png" alt="sample36" />
    <div>
      <h2>See How <span>DevMountain</span> Compares to Others</h2>
      <p>Compare DevMountain's low costs to other web development schooling options.</p>
      <a href="#"></a>
    </div>
  </figure>
  <figure ui-sref="map" class="snip0014">
    <img src="./../images/world.png" alt="sample35" />
    <div>
      <h2>How Has <span>DevMountain</span> Impacted <span>the World?</span></h2>
      <p>See how our Web Development students have impacted tech on a global scale.</p>
      <a href="#"></a>
    </div>
  </figure>
  <figure ui-sref="employment" class="snip0014">
    <img src="./../images/person.png" alt="sample37" />
    <div>
      <h2><span>What Companies</span> Have Employed DevMountain <span>Students?</span></h2>
      <p>Look at the companies who have hired DevMountain students.</p>
      <a href="#"></a>
    </div>
  </figure>




</div>
<br /><br /><br />
    <div class="infoCont">
<div class="info">

<h3 class="infoAbout">About</h3>


  DevMountain is an industry-leading coding school that began in the heart of the Wasatch Mountains. Founded by fellow coders, DevMountain's expert faculty are passionate about sharing their craft and empowering the next wave of programmers, entrepreneurs
  and designers.
  <br/><br/>
  Our high impact, hands on, project-based curriculum allows our alumni to build foundations to launch their careers, build their startups and achieve their goals. We infuse a passion for development and design into our community. DevMountain
  started in 2013 initially in Provo, Utah. With over 500 graduates, three campuses, and six course offerings, DevMountain is the largest coding/technology school in the Intermountain West, and one of the highest rated coding schools in the country.
  <br/><br/>
  Navigate through the pages to see the various charts that visualize how DevMountain has impacted our world. A group of students at DevMountain created these graphs using D3.js, a JavaScript visualization library, to encourage other students to take the same journey they chose to take. They took this project on as their required Group Project during their time in the Immersive Web Development course at DevMountain's Provo, Utah campus.

</div>
</div>
</div>